<html>

<head>
    <title>Lifelong</title>
</head>

<body>
    <div style="overflow: hidden;" class="a3s" id=":16z">
        <div class="adM"></div>
        <div>
            <div class="adM"></div>
            
            <div style="border:1px solid #ddd;color:#666;margin:0 auto;padding:0 20px 20px">
                <div style="color:#666">
                    <h4 style="font-family:arial!important"> </h4>
                    <div style="font-size:12px;line-height:20px;font-family:arial!important"> <h4>Varification Mail</h4>
                     <p>Name: {{name}} <br>
                        Email: {{email}} <br>
                        Your OTP is: {{otp}}</p>
                     <p>Contact Number: {{contact_no}}</p><br><br>
                     <h3>Thanks <br></h3>
                    </div>
                </div>
            </div>
            <div>
                
            </div>
            <img height="1px" width="1px" src="" alt="" class="CToWUd">
        </div>
        <div class="yj6qo"></div>
        <div class="adL"></div>
    </div>
</body>

</html>